@media (max-width:576px){
    body{
        background-color: black;
    }
    .a2{
        display: none;
    }
    .header{
        position: fixed;
        bottom:10px;
        width : 95%;
        background-color: lightpink;
        height:70px;
        border:solid;
        border-radius: 20px;
        border-color: rgb(0, 0, 0);
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        justify-items: center;

    }
    a{
        background-color: pink;
        border-radius: 10px;
        width : 100px;
        height : 35px;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
        color: black;
        margin-top:5px;
    }
    .a1:hover{
        background-color:rgb(255, 219, 127)
    }
    .main{
        margin-top: 10px;
        background-color: orange;
        padding : 20px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .product{
        height : 400px;
        width : 250px;
        background-color: lightsteelblue;
        margin:20px;
        padding:10px;
    }
    .image{
        border:solid;
        height : 250px;
    }
    .details{
        margin-top:10px;
        padding-left:10px;
        padding-bottom:10px;
        height:80px;
        border:solid;
    }
    .details h3::before{
        content:"Name: "
    }
    .details h2::before{
        content:"Price: "
    }
    .button a{
        padding: 10px;
        background-color: black;
        color:white;
        text-align: center;
    }
    .button{
        position: relative;
        top:15px;
        left : 70px;
    }
    img{
        height:100%;
        width:100%;
    }
    .float-icon{
        height : 50px;
        width :50px;
        position: fixed;
        top : 20px;
        right :20px;
        animation-name: example;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }
    @keyframes example{
        from{
            height : 50px;
            width : 50px;
        }
        to{
            height : 100px;
            width:100px;
        }
    }
}

@media (min-width:1200px){
    body{
        background-color: white;
    }
    .header{
        background-color: #D6B2F0;
        height:70px;
        border:solid;
        border-radius: 10px;
        border-color: black;
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        justify-items: center;
    }
    a{
        background-color: #dcfffb;
        border-radius: 10px;
        width : 100px;
        height : 40px;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
        color: black;
        margin-top:5px;
    }
    .a1:hover{
        background: color #fce1e4;
    }
    .a2:hover{
        background-color: #f1f785;
    }
    .main{
        margin-top: 10px;
        background-color: lightskyblue;
        padding : 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .product{
        height : 400px;
        width : 250px;
        background-color: lightpink;
        margin:20px;
        padding:10px;
    }
    .image{
        border:solid;
        height : 250px;
    }
    .details{
        margin-top:10px;
        padding-left:10px;
        padding-bottom:10px;
        height:80px;
        border:solid;
    }
    .details h3::before{
        content:"Name: "
    }
    .details h2::before{
        content:"Price: "
    }
    .button a{
        padding: 10px;
        background-color: F0E2C3;
        color:black;
        text-align: center;
    }
    .button{
        position: relative;
        top:15px;
        left : 70px;
    }
    img{
        height:100%;
        width:100%;
    }
    .float-icon{
        height : 50px;
        width :50px;
        position: fixed;
        bottom : 20px;
        right :20px;
        animation-name: example;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }
    @keyframes example{
        from{
            height : 50px;
            width : 50px;
        }
        to{
            height : 100px;
            width:100px;
        }
    }
}


